
$white: #fff;
$greenBlue: #01b9ad;
$black: #010101;


/* General Styles */


a {
  color: $greenBlue;
}

.content-wrapper {
  max-width: 1280px;
  margin: 0 auto;
}

.text-wrapper {
  max-width: 800px;
  margin: 0 auto;
}

@media(min-width:768px){
  h1,
  .h1{
    font-size: 3em;
  }
}

@media(min-width:992px){
  h1,
  .h1 {
    font-size: 3.5em;
  }
}

@media(min-width: 1280px){
  h1,
  .h1 {
    font-size: 4em;
  }
}




/* Generic Page Template Styles */

.added-content {
  text-align: center;
  padding: 0 15px;
  margin-bottom: 50px;
}

.section-title {
  margin: 25px 0;
}

.info-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 100%;
  background: tomato;
  color: #fff;
}




/* Two Column Template Styles */

.two-column-container {
  display: flex;
  flex-direction: row;
}

.columns {
  width: 50%;
  padding: 30px;
  height: 75%;
}




/* Footer Styles */

#footer {
  background: lightgray;
  min-height: 95px;
  padding-top: 30px;
}

.social-container {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.social-container p {
  margin: 0 8px;
}

.line {
  margin: 0 auto 15px;
  width: 60%;
  background: gray;
  height: 1px;
}

.copywright {
  text-align: center;
}

.copywright a {
  color: tomato;
}