/* fonts SASS */
$fontFamily: avenir, sans-serif;

/* colors SASS */
$white: #fff;
$greenBlue: #01b9ad;
$black: #010101;
$gray: gray;


/* General Styles */

body {
  font-family: $fontFamily;
}
a {
  color: $greenBlue;
}

img {
  width: 100%;
  height: auto;
}

form {
  padding: 15px;
  background: #f7f7f7;
  border-radius: 3px;
  border: 1px solid gainsboro;
  box-shadow: 0px 7px 10px rgba(0,0,0,.1);
}


.content-wrapper {
  max-width: 1280px;
  margin: 0 auto;
}

.text-wrapper {
  max-width: 800px;
  margin: 0 auto;
}

@media(min-width:768px){
  h1,
  .h1{
    font-size: 3em;
  }
}

@media(min-width:992px){
  h1,
  .h1 {
    font-size: 3.5em;
  }
}

@media(min-width: 1280px){
  h1,
  .h1 {
    font-size: 4em;
  }
}




/* Generic Page Template Styles */

.added-content {
  text-align: center;
  padding: 0 15px;
  margin-bottom: 50px;
}

.section-title {
  margin: 25px 0;
}

.info-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 100%;
  background: tomato;
  color: #fff;
}




/* Two Column Template Styles */

.two-column-container {
  display: flex;
  flex-direction: row;
}

.columns {
  width: 50%;
  padding: 30px;
  height: 75%;
}




